@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #282828;

  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

  }
}

body {
  color: #282828;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

   .grid-pattern {
  background-image: 
    linear-gradient(0deg, transparent 95%, #cd330c5e 5%),
    linear-gradient(90deg, transparent 95%, #cd330c5e 5%);
  background-size: 40px 40px;

}


.modal {
  margin-top: 45vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 3rem;
  font-size: 1.3rem;
  position: fixed;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(25, 25, 25, 0.9);
  opacity: 1;
}

.lazy-hidden {
  @apply opacity-0 translate-y-5 transition-transform transition-opacity duration-500 ease-in-out;
}

.lazy-visible {
  @apply opacity-100 translate-y-0;
}



.dot-pattern {
  background-image: radial-gradient(#33FF99 1px, transparent 1px);
  background-size: 20px 20px;
  }
  
  .triangle-blue {
    width: 0;
    height: 0;
    
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 25px solid #67AADE;
  }
  .triangle-green {
    width: 0;
    height: 0;
    
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 25px solid #2B7723;
  }
  .triangle-yellow {
    width: 0;
    height: 0;
    
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 25px solid #F69425;
  }
  .triangle-red {
    width: 0;
    height: 0;
    
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 25px solid #CD320C;
  }

  @media (max-width: 767px) {
  li::before {
    display: none; /* Hide the bullets on small screens */
  }
}
  
li {
  position: relative; /* This is needed to position the custom bullet */
  padding-left: 2rem; /* Ensure there is space for the custom bullet */
  margin-bottom: 0rem;
}

li::before {
  content: '';
  position: absolute;
  left: 0; /* Position it at the left of the li */
  top: 15%; /* Center it vertically */
  width: 7px; /* Set the width of the bullet */
  height: 1px; /* Set the height of the bullet */
  background-color: #CD320C; /* Set the bullet color */
}


  
}
@layer base {
  .hx-style {

    @apply font-italiana text-200  text-offWhite;
  }
 .h1-style {
  @apply font-inter font-bold text-48 sm:text-48 md:text-96 lg:text-128 text-offWhite;
}

  .h1regular-style {
    @apply font-inter lg:text-128 md:text-96 text-32 text-offWhite;
  }
  .h2-style {
    @apply font-inter lg:text-96 md:text-70 text-16 font-bold text-offWhite;
  }
  .h3-style {
    @apply font-italiana lg:text-70 text-32  text-offWhite;
  }
  .h4-style {
    @apply font-italiana lg:text-64 md:text-32 text-12  text-offWhite;
  }
  .h5-style {
    @apply font-italiana lg:text-32 md:text-14 text-12  text-offWhite;
  }
  .h6-style {
    @apply font-jura lg:text-32 text-14   text-offWhite;
  }  
  .h8-style {
    @apply font-inter md:text-16 text-12  text-offWhite;
  }
  .h9-style {
    @apply font-jura font-bold text-16  text-offWhite;
  }
  .h10-style {
    @apply font-inter text-14  text-offWhite;
  }
  .h11-style {
    @apply font-inter text-12  text-offWhite;
  }
  .p-style {
    @apply font-jura  text-12 lg:text-20 text-offWhite md:leading-[40px] leading-[25px];
  }
}