@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #282828;

  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

  }
}

body {
  color: #282828;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

   .grid-pattern {
  background-image: 
    linear-gradient(0deg, transparent 95%, #CD320C 5%),
    linear-gradient(90deg, transparent 95%, #CD320C 5%);
  background-size: 40px 40px;
}


.modal {
  margin-top: 45vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 3rem;
  font-size: 1.3rem;
  position: fixed;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(25, 25, 25, 0.9);
  opacity: 1;
}


.dot-pattern {
  background-image: radial-gradient(#33FF99 1px, transparent 1px);
  background-size: 20px 20px;
  }
  
  .triangle-blue {
    width: 0;
    height: 0;
    
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 25px solid #67AADE;
  }
  .triangle-green {
    width: 0;
    height: 0;
    
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 25px solid #2B7723;
  }
  .triangle-yellow {
    width: 0;
    height: 0;
    
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 25px solid #F69425;
  }
  .triangle-red {
    width: 0;
    height: 0;
    
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 25px solid #CD320C;
  }
  
  
}
@layer base {
  .hx-style {

    @apply font-italiana text-200  text-offWhite;
  }
  .h1-style {
    @apply font-inter font-bold text-128 text-offWhite;
  }
  .h1regular-style {
    @apply font-inter text-128 text-offWhite;
  }
  .h2-style {
    @apply font-inter text-96 font-bold text-offWhite;
  }
  .h3-style {
    @apply font-italiana text-70  text-offWhite;
  }
  .h4-style {
    @apply font-italiana text-64  text-offWhite;
  }
  .h5-style {
    @apply font-italiana text-32  text-offWhite;
  }
  .h6-style {
    @apply font-jura text-32  text-offWhite;
  }  
  .h8-style {
    @apply font-inter text-16  text-offWhite;
  }
  .h9-style {
    @apply font-jura font-bold text-16  text-offWhite;
  }
  .h10-style {
    @apply font-inter text-14  text-offWhite;
  }
  .h11-style {
    @apply font-inter text-12  text-offWhite;
  }
  .p-style {
    @apply font-jura  text-xl text-offWhite leading-[40px];
  }
}